<% if @voucher.errors.any?  %>
  <ul>
  <% @voucher.errors.messages.each do |msg| %>
    <li><%= msg[1][0] %></li>
  <% end %>
  </ul>
<% end %>
<%= form_for(@voucher, url: {action: "create"}) do |form| %>
  <%= form.label :name, '公司名稱' %>
  <%= form.text_field :name %>
  <%= form.label :tax_id, '統一編號' %>
  <%= form.number_field :tax_id %>
  <%= form.label :tel, '聯絡電話' %>
  <%= form.text_field :tel %>
  <%= form.submit '送出' %>
<% end %>
<%= link_to '查看我已兌換的復興券', vouchers_path %>
